#logo {
    animation: 5s ease-out 0s 1 mymove;
}

@keyframes mymove {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a:visited {
    color: #0000EE;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex: 0 0 450px;
}

.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery > img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .card {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        flex: 0 0 275px;
    }
    
    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header:not(main header) {
        position: sticky;
        top:0;
        left:0;
        width:100%;
    }
}

@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

@media print and (orientation: portrait) {
/*@media (min-width: 900px) {*/
    body {
        font-family: "Arial", "Helvetica";
        background-image: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav {
        width: 100%;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
        flex-shrink: 1;
    }

    .gallery {
        display: none;
    }

    #gallery {
        display: none;
    }

    .card > ul > li:nth-of-type(2)::after {
        content: "\1F44D";
    }      
}